<footer id="footer">
    <!--Footer Button-->
    <div class="has-text-centered" id="backtotop">
        <a onclick="window.scroll({top: 0, behavior: 'smooth'})" class="button btn-gradient is-medium is-rounded">
            <span>Back to Top</span>
            <span class="icon">
                <i class="fas fa-chevron-up"></i>
            </span>
        </a>
    </div>
    <!--Footer Main Section-->
    <div class="has-background-black has-text-centered has-text-white" id="credits">
        <i class="far fa-copyright"></i> {{ "now" | date: "%Y" }} Aleksandar Aytov
    </div>
</footer>