---
layout: default
title: Blog
---
<section class="section">
  <div class="container">
    <h1 class="title">Blog</h1>
    <div class="columns is-multiline">
      {% for post in site.posts %}
      <div class="column is-6">
        <div class="box">
          <h2 class="subtitle"><a href="{{ post.url }}">{{ post.title }}</a></h2>
          <p class="is-size-7 has-text-grey">{{ post.date | date: "%B %d, %Y" }}</p>
          <p>{{ post.excerpt }}</p>
          <a href="{{ post.url }}">Read more</a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
