---
layout: compress
---

<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    {% include navbar.html %}

    <section class="hero is-fullheight" id="blog">
        <div class="hero-body">
            <div class="container">
                {% include blogpage-heading.html %}
            </div>
        </div>
        <div id="results-container"></div>
        <!--Blog Cards Section-->
        {% for post in site.posts %}
        {% include blog-card.html %}
        {% endfor %}
        </div>
    </section>
    <br>
    <!--Footer begins here-->
    {% include footer.html %}
    <script>
         const searchInput = document.getElementById('search-input');
            const blogCards = document.querySelectorAll('.blog-card');
            const searchButton = document.getElementById('search-btn');

            searchInput.addEventListener('keydown', () => {
                if (event.key === 'Enter') {
                    event.preventDefault();
                    searchButton.click();
                }
            });

            searchButton.addEventListener('click', () => {
                const query = searchInput.value.toLowerCase();
                blogCards.forEach(card => {
                    const title = card.querySelector('h1').textContent.toLowerCase();
                    const content = card.querySelector('.content').textContent.toLowerCase();
                    if (title.includes(query) || content.includes(query)) {
                        card.style.display = 'block';
                    } else {
                        card.style.display = 'none';
                    }
                });
            });

    </script>
</body>

</html>